<ul class="children">
        <li class="page_item">
            <a class="adthis_button adthis_button_facebook" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/facebook/offer?pco=tbx32nj-1.0&amp;url={{{url}}}&amp;pubid=moontoast">
                <span class="icon"></span>
                <span class="text">facebook</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li class="page_item">
            <a class="adthis_button adthis_button_twitter" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/twitter/offer?pco=tbx32nj-1.0&amp;url={{{url}}}&amp;pubid=moontoast">
                <span class="icon"></span>
                <span class="text">twitter</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li class="page_item">
            <a class="adthis_button adthis_button_googleplus" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/googleplus/offer?pco=tbx32nj-1.0&amp;url={{{url}}}&amp;pubid=moontoast">
                <span class="icon"></span>
                <span class="text">google+</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li class="page_item">
            <a class="adthis_button adthis_button_tumblr" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/tumblr/offer?pco=tbx32nj-1.0&amp;url={{{url}}}&amp;pubid=moontoast">
                <span class="icon"></span>
                <span class="text">tumblr</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li class="page_item">
            <a class="adthis_button adthis_button_linkedin" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/linkedin/offer?pco=tbx32nj-1.0&amp;url={{{url}}}&amp;pubid=moontoast">
                <span class="icon"></span>
                <span class="text">linkedin</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li class="page_item">
            <a class="adthis_button adthis_button_pinterest" target="_blank" href="http://api.addthis.com/oexchange/0.8/forward/pinterest/offer?pco=tbx32nj-1.0&amp;url={{{url}}}&amp;pubid=moontoast">
                <span class="icon"></span>
                <span class="text">pinterest</span>
            </a>
        </li>
        <li class="spacer"></li>
        <li class="tail"></li>
</ul>